* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Candara,Calibri,Segoe,'Segoe UI',Optima,Arial,sans-serif; 
}
:root {
  --bg-color-primary: linear-gradient(to top, #202328 0%, #382c61 100%) no-repeat;
  --primary-color: #382c61;
  --secondary-color: #ffae00;
  --light-primary-color: #1677ff;
  --light: #ffffff;
  --medium-light: #727272;;
  --dark: #353535;
  --darker: #1f1f1f;
  --darkest: #000000;
}

body {
  background: var(--bg-color-primary);
  min-height: 100vh;
}

/************
START HEADER
************/
header {
max-width: 100%;
margin: auto;
background: var(--primary-color);
}

.logo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.logo-icon-container {
  display: flex;
}
.logo-text-container h3 {
  width: 100%;
}
.logo-text-container h3:nth-child(1){
 font-size: 1.75rem;
 color: var(--light-primary-color);
}

.logo-text-container h3:nth-child(2){
font-size: 2rem;
margin-top: -0.25em;
color: var(--secondary-color);
}

.media-link-container {
  max-width: 100px;
}

.media-link-container ul {
  display:flex;
  flex-direction: row;
}

.media-link-container ul li {
  list-style-type: none;
}

.media-link-container ul li a img{
  width: 100%;
}

.main-nav-container {
  z-index: 9999;
}

/* .main-nav-container > nav {
  display: none;
  margin: auto;
} */
.main-nav-container > nav ul {
 list-style: none;
 padding: 0;
 display: flex;
 justify-content: center;
}
.main-nav-container > nav ul li {
  margin: 0.25em;
}
.main-nav-container a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--light);
  text-shadow: 1px 3px 1px var(--darkest);
  text-transform: uppercase;
  padding: 0;
}
.main-nav-container a:hover {
  color: var(--light-primary-color);
}
/* .nav-toggle {
  width: 100%;
  display: none;
}
.nav-toggle:checked ~ nav {
  display: block;
  position: relative;
}

  .label-nav-toggle span,
  .label-nav-toggle span::before,
  .label-nav-toggle span::after {
    width: 2em;
    display: block;
    height: 2.5px;
    border-radius: 5px;
    margin-left: 0.5em;
    background: var(--light);
    position: relative;
  }
  .label-nav-toggle span::before,
  .label-nav-toggle span::after {
    content: "";
  }
  .label-nav-toggle span::before {
    margin-left: 0;
    bottom: 7px;
  }
  .label-nav-toggle span::after {
    top: 4px;
    margin-left: 0;
  }
.main-nav-container > label {
  background-color: var(--medium-light);
  width: 100%;
  padding: 2em 3em 0;
  border-radius: 5px;
  margin-left: 0;
} */
@media screen and (min-width: 800px) {
  /* header {
    display: flex;
    justify-content: space-between;
  }
  .label-nav-toggle {
    display: none;
  }
  .main-nav-container {
    position: static;
    width: 80%;
    margin: auto;
  }
  .main-nav-container > nav {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .main-nav-container > nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
  } */
}
/****************
START HOME INTRO
****************/
.home-intro-container {
  position: relative; 
  height: 46vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.home-intro-container::before {
  content: "";
  background: url(../design/img/home-background.jpg) no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height:2px;
  opacity: 0.3;
}

.intro-name-container {
  position:absolute;
  top: 2em;
  left: 1em;
}

.home-profile-container {
  position: absolute;
  right: 0;
  margin: 18% 0.5em 0 1em;
  width: 20%;
}

.home-profile-container img {
  width: 100%;
  border-radius: 10px;
}

.intro-name-container p {
  color: var(--light);
  font-size: 1rem;
  font-style: italic;
}

.intro-name-container h2 {
  color: var(--light);
  font-size: 1.75rem;
}
.intro-name-container > h2:nth-child(3) {
  margin-top: -.5rem;
}


/*********************
PROFILE PICTURE CENTER
**********************/
.profile-pic-container {
  width: 25%;
  margin: 0 auto 0 auto;
  position: relative;
}

.profile-pic-container img {
  width: 100%;
  border-radius: 50%;
}

/*********************
ABOUT PROFILE CONTENT
*********************/
.home-about-container {
  width: 90%;
  margin: -1.5em auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(126, 126, 126, 0.1);
  border-radius: 20px;
  padding: 2em 1em;
}

.about-section-container:nth-child(1) {
  max-width: 90%;
  margin: auto;
}

.content-header-container {
  color: #ffffff;
  font-size: 0.9rem;
  width: 100%;
  border-bottom: 2px solid #ffae00;
}
.content-text-container {
  color: #ffffff;
  margin-top: 0.5em;
  padding: 0.5em;
}
.content-text-container h3 {
  color: #ffae00;
  font-size: 1.2rem;
}

.about-section-container:nth-child(2) {
  max-width: 100%;
  background: rgba(126, 126, 126, 0.2);
  border-radius: 20px;
  padding: 1em;
  margin-top: 1em;
}
.fname-space, .mname-space,
.lname-space, .bdate-space,.address-space {
  color: var(--secondary-color);
}
.fname-space {
  margin-left: 0.5em;
}
.mname-space {
  margin-left: 0.5em;
}
.lname-space {
  margin-left: 0.5em;
}
.bdate-space {
  margin-left: 0.5em;
}
.address-space{
  margin-left: 0.5em;;
}
.bold-text {
  font-weight: 900;
}
.bold-italic {
  font-weight: 500;
  font-style: italic;
}
.italic{
  font-style: italic;
}

/*************************
START HOME SKILL CONTENT
*************************/
.skills-content-container {
  max-width: 90%;
  margin: auto;
  background: rgba(126, 126, 126, 0.1);
  border-radius: 20px;
  margin-top: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.skills-header {
  width: 100%;
  color: #ffffff;
  font-size: 1.25rem;
  border-bottom: 2px solid #ffae00;
  margin-bottom: 1em;
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.skill-name-header {
  color: #ffae00;
}
.skill-name-container {
  width: 100%;
}
.skill-name-container > p {
  color: #ffffff;
  margin-bottom: 0.25em;
  font-size: 0.80rem;
}
.skills-container section {
  flex:1 1 45%;
  margin-bottom: 1.5em;
}
.skills-items-container {
  margin-left: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-icon {
  width: 20%;
}
.skill-icon img {
  width: 100%;
}
.empty-skill-bar {
  width: 100%;
  background-color: #ffffff;
  height:12px;
  border-radius: 10px;
}

.progress-skill-bar {
  background-color: #fcbd37;
  height:12px;
  border-radius: 10px;
}
.ps-bar {
  width: 85%;
}
.ai-bar {
  width: 50%;
}
.vegas-bar {
  width: 80%;
}
.premiere-bar {
  width: 60%;
}
.html-bar {
  width: 80%;
}
.css-bar {
  width:65%;
}
.js-bar {
  width: 50%;
}
.bootstrap-bar {
  width: 65%;
}
.reactjs-bar {
  width: 50%;
}
.compt-trouble-bar {
  width: 75%;
}
.compt-network-bar {
  width:60%;
}
.tech-writing-bar {
  width: 70%;
}
.hardware-setup-bar {
  width: 90%;
}
.prob-solving-bar {
  width:75%;
}

/***************
START SERVICES
***************/
.home-services-container {
  width: 90%;
  margin: 2em auto;
  background: rgba(126, 126, 126, 0.1);
  border-radius: 20px;
  padding: 2em 1em;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-content-container:nth-child(1) {
  order: 2;
}
.services-content-container:nth-child(2) {
  order: 1;
}

.service-text-header {
  width: 100%;
  color: #ffffff;
  font-size: 1.25rem;
  border-bottom: 3px solid #ffae00;
  margin-bottom: 1.5em;
}
.service-text-header > h2:nth-child(2) {
  font-size: 2.5rem;
  margin-top: -0.3em;
}

.service-description-container > article > p {
 color: #ffffff;
}
.service-description-container .services-button {
  width: 70%;
  margin: auto;
  line-height: 2em;
  background-color: rgba(126, 126, 126, 0.2);
  border-style: none;
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
}
.services-button a{
  text-decoration: none;
  color: #fcbd37;
}

.services-item-content {
  background-color: #1f2229;
  border-radius: 10px;
  box-shadow: -2px -2px 3px #121316;
  padding: 0.5em;
  margin-bottom: 1em;
}
.services-item-content > h3 {
  padding-bottom: 0.5em;
  text-align: center;
  color: #fcbd37;
}
.services-item-content:nth-child(1) {
  grid-area: 1 / 1 / 2 /3;
}
.services-item-content:nth-child(2) {
  grid-area: 2 / 1 / 2 / 2;
}
.services-item-content:nth-child(3) {
  grid-area: 2 / 2 / 2 / 3
}
.services-item-description {
  width: 100%;
}
.services-item-description-editing {
  display: flex;
  flex-direction: column;
}
.services-item-description > p, .services-item-description-2 > p {
  flex-basis: 20%;
  color: #f0f8ff;
  text-align: left;
  font-size: 0.9rem;
  margin-top: 0.5em;
}

 .services-pics-container {
  flex-basis: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.services-pics-container img {
  width: 46%;
  border-radius: 6px;
  box-shadow: 2px 3px 3px #121316;
}
.services-item-description-2 {
  display: flex;
  flex-direction: column;
}


/************
START FOOTER
************/
footer {
  background-color: #1b1c1f;
}
.footer-up {
  width: 90%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fcbd37;
}

.footer-up > .logo-container {
  width: 55%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0;
}
.footer-up > .logo-container > .logo-icon-container{
  width: 30%;
}
.footer-up > .logo-container .logo-icon-container img {
  width: 100%;
}
.footer-up > .logo-container .logo-text-container {
  width: 40%;
}
.footer-up > .logo-container .logo-text-container h3 {
  width: 100%;
  font-size: 1.2rem;
}
.footer-up > .footer-media-link-container {
  width: 40%;
}
.footer-media-link-container ul {
  display: flex;
  flex-direction: column;
  margin: 0.5em auto;

}
.footer-media-link-container ul li {
  list-style-type: none;
}
.footer-media-link-container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1677ff;
  font-size: .80rem;
}
.footer-media-link-container ul li a img {
  width: 20%;
}


/******************
START MIDDLE FOOTER
******************/
.footer-mid {
  width: 90%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-items-container > h3 {
  color: #fcbd37;
}

.footer-items-container > nav , .footer-items-container > div {
  margin: 0.3em 0.5em;
}
.footer-link-nav ul li {
  list-style-type: none;
}
.footer-link-nav ul li a {
  text-decoration: none;
  color: #1677ff;
}
.footer-info-container {
  color: #f0f8ff;
}
.footer-info-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
}
.footer-info-container img {
  width: 10%;
  margin-right: 0.5em;
}
.email-button {
  width: 50%;
  text-align: center;
  background-color: rgba(126, 126, 126, 0.2); 
  margin: auto;
  padding: 0.25em;
  font-size: 1.25rem;
}
.email-button a {
  text-decoration: none;
  color: #fcbd37;
}
.footer-info-container > div:last-child {
  margin-bottom: 1em;
}
.footer-end {
  width: 100%;
  background-color: #121316;
  color: #f0f8ff;
  padding: 1em;
  text-align: center;
  font-size: 0.75rem;
}
